---
import "../../styles/global.css"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
	<div class="about-page">
        <div style="max-width: 5em; height: auto">
            <img style="height: auto; width: 300px" src="/bighouse.JPG"></img>
        </div>
        <div class="about-text">
            <h1>About Me</h1>
            <div>
                <p> Hey! I’m Sarah Stec and I just graduated with 
                    my Master’s degree in Computer Science Engineering from the University
                    of Michigan (go blue!!) </p>
                <p> My primary passions are learning and exploring new 
                    technologies, which is why I love full-stack! I’m
                    especially interested in “tech for good “
                    opportunities that reduce socioeconomic disparities.</p>
                
                <p>Outside of work, you can find me jamming on my 
                    keyboard, beating my family in Fantasy Football, and 
                    attending as many concerts as possible!</p>
            </div>
        </div>
	</div>
</BaseLayout>
<script>

</script>
