---
import "../../styles/global.css"
import "../../styles/component.css"
import "../../styles/mobile.css"
import "../../styles/timeline.css"
import BaseLayout from "../layouts/BaseLayout.astro"
import About from "../sections/About.astro"
import Projects from "../sections/Projects.astro"
import Splash from "../sections/Splash.astro"
import Timeline from "../sections/Timeline.astro"
---

<BaseLayout>
	<div id="home">
		<Splash />
	</div>
	<div id="about">
		<About />
	</div>
	<div id="experience">
		<Timeline></Timeline>
	</div>
	<div id="projects">
		<Projects />
	</div>
</BaseLayout>
