---
import "../../styles/global.css"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
	<div class="splash-page">
		<div class="container">
			<h1 class="typed-out">Hey! I'm Sarah :) </h1>
		</div>
		<h2>A passionate full-stack developer with a <b class="text-bold">knack for learning</b> new technologies</h2>
		<button>Learn more about me!</button>
	</div>
</BaseLayout>
