---
import "../../styles/global.css"
import "../../styles/component.css"
import "../../styles/mobile.css"
import BaseLayout from "../layouts/BaseLayout.astro"
import About from "../components/About.astro"
import Projects from "../components/Projects.astro"
---

<BaseLayout>
	<div id="home" class="splash-page">
		<div class="container">
			<h1 class="typed-out">Hey! I'm Sarah :) </h1>
		</div>
		<h2>A passionate full-stack developer with a <b class="text-bold">knack for learning</b> new technologies</h2>
		<a href="#about" class="learn-more">Click here to learn more!</a>
	</div>
	<div id="about" style="margin-top: 50px;">
		<About></About>
	</div>
	<div id="projects">
		<Projects />
	</div>
</BaseLayout>
