---
import "../../styles/global.css"

const img_arr = [
    {url: '/bighouse.JPG', description: 'Sarah visiting the big house'},
    {url: '/its-showcase.JPG', description: 'Sarah presenting an ITS internship poster'},
    {url: '/per-grad.JPG', description: 'Sarah after graduating with a Masters degree'}
]
---
<div class="about-page">
    <div class="slideshow-container">
    {img_arr.map((image: any) => 
        <div class="slideshow">
            <img src={image.url} alt={image.description} style="height: auto; width: 300px"/>
        </div>
    )}
        <div class="slideshow-container">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
        </div>
    </div>

    <div class="about-text">
        <h1>About Me</h1>
        <div>
            <p> Hey! I’m Sarah Stec and I just graduated with 
                my Master’s degree in Computer Science Engineering from the University
                of Michigan (Go Blue!!) </p>
            <p> My primary passions are learning and exploring new 
                technologies, which is why I love full-stack! I’m
                especially interested in “tech for good “
                opportunities that reduce socioeconomic disparities.</p>
            
            <p>Outside of work, you can find me jamming on my 
                keyboard, beating my family in Fantasy Football, and 
                attending as many concerts as possible!</p>
        </div>
    </div>
</div>
<script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("slideshow");
      let dots = document.getElementsByClassName("dot");

      for (i = 0; i < slides.length; i++) {
        // Explicitly cast 'slides[i]' to 'HTMLElement'
        (slides[i] as HTMLElement).style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
      // Explicitly cast 'slides[slideIndex-1]' to 'HTMLElement'
      (slides[slideIndex-1] as HTMLElement).style.display = "block"; 
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
</script>