---
import ThemeIcon from "./ThemeIcon.astro"
const navLinks = [
    {title: "Home", url: "/portfolio/#home"},
    {title: "About", url: "/portfolio/#about"},
    {title: "Experience", url:"/portfolio/#experience"},
    {title: "Projects", url: "/portfolio/#projects"}
]
---
<div class="navbar-container">
    <div class="navbar-container">
        <nav class="navbar-desktop">
            {navLinks.map((link: any) => <a class="nav-links" href={link.url}>{link.title}</a>)}
        </nav>
        <nav class="navbar-mobile">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <input type="checkbox" id="check"/>
        </nav>
        <ThemeIcon />
    </div>

</div>
<div class="nav-mobile" id="navMobile">
    {navLinks.map((link: any) => <a class="links" href={link.url}>{link.title}</a>)}
</div>

