---
import "../../styles/global.css"

const img_arr = [
    {url: '/bighouse.JPG', description: 'Sarah visiting the big house'},
    {url: '/its-showcase.JPG', description: 'Sarah presenting an ITS internship poster'},
    {url: '/per-grad.JPG', description: 'Sarah after graduating with a Masters degree'}
]
---
<div class="about-page">
    <h1>Projects</h1>
    <div class="about-content">
        <div class="slideshow-container">

            <div class="dot-container">
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span> 
            </div>
        </div>

        <div class="about-text">
            <div>
                TODO - INSERT PROJECT CONTENT HERE
            </div>
        </div>
    </div>
</div>