---
import "../../styles/global.css"

const img_arr = [
    {url: '/portfolio/slideshow_img/bighouse.JPG', description: 'Sarah visiting the big house'},
    {url: '/portfolio/slideshow_img/undergrad.JPG', description: 'Sarah after getting a Bachelors degree'},
    {url: '/portfolio/slideshow_img/per-grad.JPG', description: 'Sarah after graduating with a Masters degree'}
]

const frontend = ['React', 'Vue', 'JavaScript', 'TypeScript', 'HTML', 'CSS', 'MaterialUI', 'TailwindCSS', 'Figma']
const backend = ['C++', 'Python', 'Flask', 'SQL', 'REST API', 'Git', 'VSCode']
---
<div class="about-page-2">
    <div class="new-about">
        <h2><b>Welcome! I'm glad you're here</b></h2>
        <p>I'm an insatiably curious engineer with Bachelor's and Master's degrees in Computer Science from the University of Michigan - Go blue!!! 
            I'm passionate about continuous learning, full-stack development, and leveraging technology to evoke meaningful change.
        </p>

        <p>Outside of tech, you'll catch me jamming on my keyboard, attending live concerts, and running.</p>
    </div>
    <div class="tech-skills">
        <div>
            <h2>Frontend & Design Tools</h2>
            <ul>
                {frontend.map(skill=>(
                    <li>{skill}</li>
                ))}

            </ul>         
        </div>
        <div>
            <h2>Backend & Dev Tools</h2>
            <ul>
                {backend.map(skill=>(
                    <li>{skill}</li>
                ))}

            </ul> 
        </div>
        <div>
            <h2>Education</h2>
            <ul>
                <li><b>University of Michigan</b></li>
                <li><b>Master of Science in Engineering</b></li>
                <li>Computer Science and Engineering</li>
                <br>
                <li><b>University of Michigan</b></li>
                <li><b>Bachelor of Science in Engineering</b></li>
                <li>Computer Science and Engineering,</li>
                <li>Minor in Mathematics</li>

            </ul>

        </div>
    </div>
</div>
{/* 
<div class="page">
    <h1>About Me</h1>
    <div class="about-content center-all">
        <div class="column-flex center-all">
            {img_arr.map((image: any) => 
                <div class="slideshow">
                    <img src={image.url} alt={image.description} style="height: auto; max-width: 375px; width: 100%"/>
                </div>
            )}
                <div class="center-all dot-container">
                    <span class="dot"></span>
                    <span class="dot"></span> 
                    <span class="dot"></span> 
                </div>
            </div>

        <div class="about-text">
                {/** 
            <p>I'm so glad you're here!!</p>
            <p>I'm Sarah, and I'm a curious and driven engineer with an immense passion for continuous learning,
                 full-stack development, and "tech for good." 
            
            <p>I'm currently looking for full-time positions that drive meaningful change and embrace a growth mindset.</p>
        
            <div class="about-box mission-box">
                <h2 class="text-bold">Passion + Interest</h2>
                <p> During my internship building vaccine tracking dashboards with 
                    MICOM, I discovered my <b class="text-bold">passion for 
                    “tech for good.”</b> I now aspire to use technology to reduce 
                    socioeconomic disparities.</p>


            </div>
           
            <div class="about-boxes">
                
                <div class="about-box small-box">
                    <div>
                        <h2 class="text-bold">Education</h2>
                        <h3>University of Michigan</h3>
                    </div>

                    <div>
                        <p>Master of Science in Engineering </p>
                        <b>Computer Science</b>
                    </div>

                    <div>
                        <p>Bachelor of Science in Engineering</p>
                        <b>Computer Science, Minor in Mathematics</b>
                    </div>
                </div>
                <div class="about-box small-box">
                    <h2 class="text-bold">Personal</h2>
                    <p>Outside of CS, you'll catch me...</p>
                    <ul class="personal-list">
                        <li>Jamming on my keyboard</li>
                        <li>Crushing it in Fantasy Football</li>
                        <li><a href="https://sastec17.github.io/blog/">Chasing live music</a> at as many concerts as possible</li>
                    </ul>
                </div>
            </div>
       
        </div>
    </div>
</div>
*/}

<script>
    let slideIndex = 0;
    showSlides();
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("slideshow");
      let dots = document.getElementsByClassName("dot");

      for (i = 0; i < slides.length; i++) {
        // Explicitly cast 'slides[i]' to 'HTMLElement'
        (slides[i] as HTMLElement).style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
      // Explicitly cast 'slides[slideIndex-1]' to 'HTMLElement'
      (slides[slideIndex-1] as HTMLElement).style.display = "block"; 
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 5000); // Change image every 2 seconds
    }
</script>