---
import experiences from "../../data/experiences.json"
const exp = experiences["experiences"];
---
<div class="page center-all column-flex new">
    <h1>Experience</h1>
      <ul class="experience-list">
        {exp.map((experience) => 
            <li class="vertical-line">
                <div class="experience-card column-flex">
                    <time class="text-bold">{experience.dates}</time>
                    <div>
                        <h2>{experience.title}</h2>
                        <p>{experience.company}</p>
                    </div>
                 
                    <p class="description">{experience.description}</p>
                </div>
            </li>
        )}    
      </ul>
  </div>