---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="https://kit.fontawesome.com/90169b880a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>sarah stec</title>
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />
    <script>
      import "../scripts/timeline.js";
    </script>
  </body>
</html>