.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-flex {
    display: flex; 
    flex-direction: column;
}

.page {
    min-height: 100vh
}

#greeting {
    color: var(--opp-color)
}

.container h1 {
    font-size: 5em;
    display: inline-block;
    max-width: 100%;
}

.text-bold {
    color: var(--text-color);
}

.typed-out {
    display: inline-block;
    max-width: fit-content;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0 auto;
    animation: typing 2s steps(20, end) forwards,
    blink .8s infinite;
  }

.container {
    max-width: 100%;
    display: inline-block;
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: var(--text-color); }
  }

@keyframes typing {
    from { width: 0 }
    to { width: 100%;
        max-width: 100%;
     }
}

/* nav link styles */
.navbar-container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--background-color);
    width: 100%;
}

.navbar-desktop {
    display: flex;
}

.nav-links {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em;
    color: black;
}

.learn-more {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    display: block;
    text-align: center;
    color: black;
    padding: 0;
}

.learn-more p {
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.learn-more:hover,
.learn-more:focus,
.navbar-container a:hover,
.navbar-container a:focus {
    text-decoration: underline;
    color: var(--text-color);
}
.social-media a:hover,
.social-media a:focus {
    color: var(--text-color);
}

/* social media footer styling */
.social-media {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: lowercase;
}
.social-media a {
    margin: 1em;
    color: var(--opp-color);
    text-decoration: none;
}

/* about page styling */
.about-content {
    text-align: left;
}

.about-text {
    max-width: 45%;
    margin-left: 5em;  
}

/* slideshow styling */
.slidehow {
    max-width: 5em; 
    height: auto
}

.dot-container {
    padding-top: 2px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active {
    background-color: var(--text-color);
  }

.navbar-mobile {
    display: none;
}

/* project syling */
.projects-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px; 
    justify-content: center; 
}
.project_card {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: calc(30% - 40px);
    box-sizing: border-box; 
    padding: 16px;
    border: 1px solid var(--text-color); 
    border-radius: 8px;
}
.project_card img {
    display: block; 
    margin: 0 auto;
    max-width: 80%; 
    height: auto; 
    margin-bottom: 10px;
    border: solid;
    border-color: var(--text-color);
    border-width: 1px;
}
.project_text{
    font-size: 1.2em;
    text-align: center; 
    width: 100%;
}

.project_title {
    gap: 10px;
    white-space: wrap;
}

.project_title i {
    width: 100px;
    height: auto;
    line-height: 4em;
}

.skills,
.skills p {
    margin-left: 3px;
    margin-right: 3px;
}

:root {
    --text-color: #7400CC; /* Light mode */
    --background-color: #F5F5F5;
    --opp-color: #282828;
  }
  
  .dark {
    --text-color: #D59EFF; /* Dark mode */
    --background-color: #282828; 
    --opp-color: #F5F5F5;
  }