html {
    background-color: #F5F5F5;
    font-family: Gill Sans;
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
    margin-bottom: 80px;
  }

html.dark {
    background-color: #282828;
    color: #FCFCFC;
}

button {
    background-color: #F5F5F5;
    font-size: 1.2rem;
    cursor: pointer;
}

h1 {
    color: #7C00DB;
    font-size: 4em;
    text-align: center;
    font-weight: 700;
}

.dark h1 {
    color: #D59EFF;
}

h2 {
    font-size: 2.0em;
    text-align: center;
    font-weight: 500;
}

p {
    font-size: 1.2rem;
}

.dark .learn-more,
.dark .navbar-container a {
    color: #FCFCFC;
}

