html {
    background-color: rgb(210, 213, 216);
    font-family: Gill Sans;
    scroll-behavior: smooth;
  }

html.dark {
    background-color: #282828;
    color: #fff;
}

button {
    background-color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

h1 {
    color: #8713E0;
    font-size: 4em;
}

h2 {
    font-size: 2em;
    max-width: 50%;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

.dark .learn-more,
.dark .navbar-container a {
    color: #fff;
}

