@media only screen and (min-width: 769px) and (max-width: 1220px)  {
    .project_card {
        width: calc(40% - 40px);
    }

    .project_title h2 {
        font-size: auto;
    }

}

@media only screen and (max-width: 768px)  {
    html {
        scroll-padding-top: 110px;
        margin-bottom: 0px;
    }

    .card-content {
        margin-bottom: 24px;
    }

    .navbar-mobile {
        display: flex;
        padding: 10px 0;
        margin: 1em;
    }

    .nav-mobile {
        position: fixed;
        visibility: hidden;
        opacity: 0; 
        transform: translateX(-100%);
        transition: all 0.3s ease;
        width: 100%;
        background: var(--background-color);
        z-index: 1; 
        top: 100px;
        right: 10px;
        width: 150px;
        border: solid;
        border-color: var(--opp-color);
        border-width: 1px;
    }

    .nav-mobile a {
        color: var(--text-color);
        text-decoration: none;
        display: block;
        font-size: 1rem;
        padding: 1rem 1.5rem;
        border: solid;
        border-color: var(--opp-color);
        border-width: 1px;
    }

    .checkbtn {
        display: block;
        font-size: 3rem;
        color: var(--opp-color)
    }

    #check{
        display: none;
    }
    
    .navbar-desktop {
        display: none;
    }

    .splash-heading h1 {
        color: var(--text-color);
        font-size: 3.5em;
        display: inline-block;
        max-width: 100%;
    }

    .typed-out {
        max-width: 100%;
        overflow: visible;
        font-size: 2em;
        border-right: 0em solid white;
        display: block;
        white-space: wrap;
        animation: none;
        text-align: center;
    }

    .about-boxes,
    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about-text {
        max-width: 85%;
        margin-left: 0px;
    }

    .project_card {
        width: 90%; 
    }

    .vertical-line {
       list-style-type: none;
    }

    .experience-card { 
        width: 90vw;
    }

    .experience-list {
        gap: 1em;
        padding: 0 0 0 0;
    }

    .experience-list li {
        margin-bottom: 1em;
    }

    .social-media {
        position: relative;
        padding: 10px 0;
        margin-top: 15px;
    }
    .tech-skills {
        display: flex;
        flex-direction: column;
    }
    .skill-category {
        width: 100%;
        padding-bottom: 8px;
    }
    .skill-category:nth-child(2) {
        border-top: 0.5px solid var(--opp-color);
        border-bottom: 0.5px solid var(--opp-color);
    }
}

:root {
    --text-color: #7400CC; /* Light mode */
    --background-color: #F5F5F5;
    --opp-color: #282828;
  }
  
  .dark {
    --text-color: #D59EFF; /* Dark mode */
    --background-color: #282828; 
    --opp-color: #F5F5F5;
  }
