/* vertical-line */
@media only screen and (min-width: 769px) {
    .vertical-line {
        position:relative;
        list-style-type: none;
        width: 4px;
        background-color: var(--opp-color);
        margin: 0 auto;
        padding-top: 50px;
    }
      
    /* circle on vertical-line */
    .vertical-line::after {
        background: var(--opp-color);
        content: '';
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        bottom: 0;
    }
      
    .vertical-line:nth-child(odd) .experience-card {
        transform: translateX(-105%); /* Shift left */
    }
    
    .vertical-line:nth-child(even) .experience-card {
        transform: translateX(5%); /* Shift right */
    }

    .experience-card {
        width: 45vw;
        max-width: 700px;
    }
}

.vertical-line div {
    opacity: 0;
    transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
    visibility: hidden;
}
  
.vertical-line.show div {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.experience-section {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px; 
    justify-content: center; 
}

.experience-card {
    gap: 1em;
    text-align: left;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    bottom: 0;
    white-space: wrap;
    background: #586aee47;
}

.card-heading p{
    margin: 0 0 0 0;
    padding: 0;
}

.experience-card h2 {
    font-size: 1.75em;
    margin: 0 0 0 0;
    padding: 0;
    text-align: left;
}
  
.experience-card img{
    max-width: 80%;
}

time,
.experience-card h2,
.experience-content p{
    margin-top: 0;
    margin-bottom: 0;
}

time {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    width: 100%;
}

:root {
    --text-color: #7400CC; /* Light mode */
    --background-color: #F5F5F5;
    --opp-color: #282828;
  }
  
  .dark {
    --text-color: #D59EFF; /* Dark mode */
    --background-color: #282828; 
    --opp-color: #F5F5F5;
  }